TYPE "sap.plc.db.administration::masterdata.tt_cost_center" AS TABLE (
		"COST_CENTER_ID" NVARCHAR(10),	
		"CONTROLLING_AREA_ID" NVARCHAR(4),
		"_VALID_FROM" TIMESTAMP,
		"_VALID_TO" TIMESTAMP,	
		"_SOURCE" TINYINT,
		"_CREATED_BY" NVARCHAR(256),
		"_VALID_FROM_FIRST_VERSION" TIMESTAMP,
		"_CREATED_BY_FIRST_VERSION" NVARCHAR(256),
		"COST_CENTER_DESCRIPTION" NVARCHAR(250)
{{#if Cost_Center.customFields}}
	 , {{ddl_customFields Cost_Center}}
{{/if}}
)


