update temp_table 
					set	temp_table.ERROR_CODE = 'GENERAL_ENTITY_NOT_FOUND_ERROR', 
	                temp_table.ERROR_DETAILS = '{"administrationObjType": "MainObj"}'
					from {{temporaryTable MasterdataBusinessObject}} as temp_table, 
					( select {{keyFieldsWithPrefix MasterdataBusinessObject 'temp_table'}}, temp_table._VALID_FROM 
					  from {{temporaryTable MasterdataBusinessObject}} as temp_table 
					  where temp_table.operation in ('Update','Delete')
					  and ( temp_table.error_code = '' or  temp_table.error_code is null )
					      minus
					  select {{keyFields MasterdataBusinessObject}}, _VALID_FROM 
					  from (select {{keyFieldsWithPrefix MasterdataBusinessObject 'temp_table'}}, temp_table._VALID_FROM 
					        from {{temporaryTable MasterdataBusinessObject}} as temp_table
							inner join {{mainTable MasterdataBusinessObject}} as main_table
							on {{keyFieldsConditionWithPrefixes MasterdataBusinessObject 'temp_table' 'main_table'}}
							and temp_table._VALID_FROM = main_table._VALID_FROM
							and temp_table.operation in ('Update','Delete')
							and ( temp_table.error_code = '' or  temp_table.error_code is null )) 
					) as result
					where {{keyFieldsConditionWithPrefixes MasterdataBusinessObject 'temp_table' 'result'}}
					and temp_table._VALID_FROM = result._VALID_FROM 
					and temp_table.operation in ('Update','Delete')
					and ( temp_table.error_code = '' or  temp_table.error_code is null )