update temp_table 
					set	temp_table.ERROR_CODE = 'GENERAL_VALIDATION_ERROR', 
					temp_table.ERROR_DETAILS = '{"validationObj": {"validationInfoCode": "SOURCE_ERP"}}'
					from {{temporaryTextTable MasterdataBusinessObject}} as temp_table, 
					(select {{keyFields MasterdataBusinessObject}}, _VALID_FROM, LANGUAGE 
					  from (select {{keyFieldsWithPrefix MasterdataBusinessObject 'temp_table'}}, temp_table._VALID_FROM, temp_table.LANGUAGE 
					        from {{temporaryTextTable MasterdataBusinessObject}} as temp_table
							inner join {{textTable MasterdataBusinessObject}} as main_table
							on {{keyFieldsConditionWithPrefixes MasterdataBusinessObject 'temp_table' 'main_table'}}
							and temp_table._VALID_FROM = main_table._VALID_FROM
							and temp_table.LANGUAGE = main_table.LANGUAGE
							and temp_table.operation in ('Update','Delete')
							and (temp_table.error_code = '' or  temp_table.error_code is null)
							where main_table._SOURCE = 2) 
					) as result 
					where {{keyFieldsConditionWithPrefixes MasterdataBusinessObject 'temp_table' 'result'}}
					and temp_table._VALID_FROM = result._VALID_FROM
					and temp_table.LANGUAGE = result.LANGUAGE
					and temp_table.operation in ('Update','Delete')
					and (temp_table.error_code = '' or  temp_table.error_code is null)